:root {
  --default-size: 10rem;
}

html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  background-color: rebeccapurple;
  font-family: 'Fira Sans';
  color: white;
  display: flex;
}

section {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 8rem;
  font-weight: bold;
  color: yellow;
}

#app_title {
  width: 20rem;
}

p {
  font-size: inherit;
}
 
  
#qrcode-container {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  padding: 2rem;
  color: black;
  width: var(--default-size);
  height: var(--default-size);
  background-color: silver;

  justify-content:center;
  align-items:center;
}

#vid {
  position: absolute;
  width: var(--default-size);
  height: var(--default-size);

  margin-left: auto;
  margin-right: auto;
}

.player {
  width: var(--default-size);
  height: var(--default-size);
}

#canvas {
  display: none;
}

#start {
  background-color: pink;
}

#snap {
  background-color: yellow;
}

.button {
  display:flex;
  justify-content:center;
  align-items:center;

  width: var(--default-size);
  height: var(--default-size);
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

#instructions {
  font-size: 5rem;
}
